* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1 {
    font-size: 5rem;
    color: #026502;
    text-align: center; /* Centers the h1 */
    margin-top: 150px;
}

/* Reset default margin and padding for the body */
body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #608f60; 
    width: 100%; 
    position: relative; 
}

menu {
    display: flex; 
    justify-content: space-around; 
    padding: 10px 0; 
    list-style: none; 
    margin: 0; 
}

menu li {
    flex: 1; 
    text-align: center; 
}

menu a {
    color: white; 
    text-decoration: none; 
    padding: 10px; 
    display: block; 
}

menu a:hover {
    background-color: #026502; 
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    max-width: 600 px;
}

.search-box {
    width: 80%;
    padding: 15px 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    text-align: center;
    caret-color: transparent;
    transition: border-color 0.3s;
}

.search-box:focus {
    border-color: #4CAF50;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

.square-button {
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.square-button:hover {
    background-color: #ddd;
    border-color: #999;
  }


footer {
    text-align: center;
    margin-top: 30px;
    padding: 50px;
    background-color: #f5f5f5; 
}

footer .text-reset {
    color: #000; /* Text color for 'Designed by Eva Terry' */
    display:block;
    font-size: 1.2em;
}

footer small_button {
    margin-top: 1px;
    padding: 10px 20px; 
    background-color: #333; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    font-size: 1em; 
    margin-top: 10px; 
}

footer small_button:hover {
    background-color: #555; 
}